nb-configuration.xml

/demetra-webapp/target/
/demetra-webapp-standalone/target/
/ws-commons/target/

/demetra-webapp-standalone/dependency-reduced-pom.xml

/demetra-webapp-standalone/nb-configuration.xml
/demetra-webapp/nb-configuration.xml
/ws-commons/nb-configuration.xml
/demetra-webapp-standalone/nbactions.xml
/demetra-webapp/nbactions.xml
